<!doctype html>
<html ng-app="GameApplication">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/game.css">

        <script type="text/javascript">
        "use strict";
        var GameApplication = angular.module('GameApplication', []);
        </script>

        <script src="js/helpers.js"></script>
        <script src="js/classes/Goods.js"></script>
        <script src="js/classes/Cities.js"></script>
        <script src="js/classes/Monuments.js"></script>
        <script src="js/classes/Developments.js"></script>
        <script src="js/classes/Dice.js"></script>
        <script src="js/classes/Player.js"></script>
        <script src="js/classes/Game.js"></script>

    </head>
    <body>
        <div id='myGame' ng-controller="GameController" ng-cloak>

            <div id="wrapper">
                <div id="myBoard" class="container-fluid">

                    <div id="gameHeader" class='row'>
                        
                        <div class='col-xs-4'>
                            <h4>Socket Ages</h4>
                        </div>
                        <div class='col-xs-8'>
                            <input type="text" class="form-control" placeholder="Name" ng-model="player.playerName" />
                        </div>
                        
                    </div>

                    <div id="myDice" class='row'>

                        <div class='col-xs-9'>
                            <p ng-if='player.dice'><strong>Disaster Type:</strong>  {{player.dice.disasterType()}} ({{player.dice.disasterEffect()}})</p>
                            <div class='dice' ng-repeat='dice in player.dice.dice track by $index' ng-class="{'keep': (dice == '1_SKULL_AND_2_GOODS'), 'choice': (dice.charAt(0) == '2'), 'unset': (dice == '2_FOOD_OR_2_WORKERS')}">
                                <img ng-src='img/{{dice}}.png' ng-click="toggleDice($index)" />
                            </div>
                        </div>

                        <div class='col-xs-3'>
                            <button class='btn btn-primary pull-right' ng-click='player.roll()'>Roll Dice</button>
                        </div>

                    </div>

                    <div id="diceResults" class='row'>

                        <div class='col-xs-3'>
                            Food: {{player.dice.totalFixedFood()}}<span ng-if="player.dice.totalOptionalFood() > 0"> - {{player.dice.totalFixedFood() + player.dice.totalOptionalFood()}}</span>
                        </div>

                        <div class='col-xs-3'>
                            Workers: {{player.dice.totalFixedWorkers()}}<span ng-if="player.dice.totalOptionalWorkers() > 0"> - {{player.dice.totalFixedWorkers() + player.dice.totalOptionalWorkers()}}</span>
                        </div>

                        <div class='col-xs-3'>
                            Goods: {{player.dice.totalGoods()}}
                        </div>

                        <div class='col-xs-3'>
                            Coins: {{player.dice.totalCoins()}}
                        </div>

                    </div>

                </div>

                <div id="otherPlayers" class=''>

                </div>
            </div>
        

        </div>

        <script type="text/javascript">
        GameApplication.controller("GameController", ['$scope', '$http', '$timeout', function($scope, $http, $timeout )
        {
            $scope.game = new Game();
            $scope.player = $scope.game.addPlayer();
            $scope.player.cities.addWorkers(18);
            // $scope.player.roll();
            $scope.player.developments.purchase("Quarrying");
            $scope.player.developments.purchase("Agriculture");
            $scope.player.developments.purchase("Coinage");
            $scope.player.developments.purchase("Masonry");
            $scope.player.developments.purchase("Irrigation");
            $scope.player.goods.add(8);
            $scope.player.disasters = 22;
            $scope.player.debug();

            $scope.toggleDice = function(diceIndex) 
            {
                var diceValue = $scope.player.dice.dice[diceIndex];
                if( diceValue == '2_FOOD_OR_2_WORKERS' ) {
                    $scope.player.dice.dice[diceIndex] = '2_FOOD';
                } else if( diceValue == '2_FOOD' ) {
                    $scope.player.dice.dice[diceIndex] = '2_WORKERS';
                } else if( diceValue == '2_WORKERS' ) {
                    $scope.player.dice.dice[diceIndex] = '2_FOOD_OR_2_WORKERS';
                }
            }
        }]);
        </script>

    </body>
</html>
