<!doctype html>
<html ng-app="GameApplication">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/game.css">

        <script type="text/javascript">
        "use strict";
        var GameApplication = angular.module('GameApplication', []);
        </script>

        <script src="js/helpers.js"></script>
        <script src="js/classes/Goods.js"></script>
        <script src="js/classes/Cities.js"></script>
        <script src="js/classes/Monuments.js"></script>
        <script src="js/classes/Developments.js"></script>
        <script src="js/classes/Dice.js"></script>
        <script src="js/classes/Player.js"></script>
        <script src="js/classes/Game.js"></script>

    </head>
    <body>
        <div ng-controller="GameController" ng-cloak>

            <p ng-if='player.dice'><strong>Disaster Type:</strong> {{player.dice.disasterType()}}</p>
            <div class='dice' ng-repeat='dice in player.dice.dice track by $index' ng-class="{'frozen': (dice == '2_GOODS_AND_1_SKULL')}">
                <img ng-src='img/{{dice}}.png' />
            </div>

            <button class='btn btn-primary' ng-click='player.roll()'>Roll</button>

        </div>

        <script type="text/javascript">
        GameApplication.controller("GameController", ['$scope', '$http', '$timeout', function($scope, $http, $timeout )
        {
            $scope.game = new Game();
            $scope.player = $scope.game.addPlayer();
            $scope.player.cities.addWorkers(18);
            // $scope.player.roll();
            $scope.player.developments.purchase("Quarrying");
            $scope.player.developments.purchase("Agriculture");
            $scope.player.developments.purchase("Coinage");
            $scope.player.developments.purchase("Masonry");
            $scope.player.goods.add(8);
            $scope.player.disasters = 22;
            $scope.player.debug();
        }]);
        </script>

    </body>
</html>
