body
{
    background-color: #ccc;
}

#myGame
{
    padding: 20px;
    text-align: center;
}

#wrapper
{
    width: 1120px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #fff;
}

#gameHeader
{
    margin-bottom: 15px;
}

#newGame table
{
    width: 100% ;
}

#newGame td, #newGame th
{
    padding: 10px;
}

#myBoard
{
    width: 700px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#otherPlayers
{
    width: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#diceResults
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.diceContainer 
{
    display: inline-block;
    width: 60px;
    margin: 3px;
    text-align: center;
}

.dice
{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #cea65e;
    padding: 3px;
    margin-bottom: 2px;
    background-color: #f6daa9;
}

.dice.skull
{
    background-color: #edafa8;
    border: 2px solid #f00;
}

.dice.keep
{
    border: 2px solid #f00;
}

.dice.choice
{
    cursor: pointer;
}

.dice.unset
{
    background-color: #f6eee1;
}

.good, .food, .cities
{
    height: 14px;
    font-size: 12px;
    line-height: 14px;
}

.type
{
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

#myGoods .goods .good .cost, #myFood .count, .city
{
    display: inline-block;
    width: 30px;
    margin-right: 2px;
    text-align: center;
}

#myGoods .goods .good .cost.selected, #myFood .food .count.selected, .city.completed
{
    color: #fff;
    font-weight: bold;
}

#myGoods .goods .good.spearhead .cost.selected
{
    background-color: #d64705;
}

#myGoods .goods .good.cloth .cost.selected
{
    background-color: #114683;
}

#myGoods .goods .good.pottery .cost.selected
{
    background-color: #981719;
}

#myGoods .goods .good.stone .cost.selected
{
    background-color: #727278;
}

#myGoods .goods .good.wood .cost.selected
{
    background-color: #462f3a;
}

#myGoods .goods .good.food
{
    margin-top: 15px;
}

#myFood .food .count.selected
{
    background-color: #338919;
}

.good, .food, .cities
{
    margin: 8px;
}

#myCities .cities .city.completed
{
    background-color: #2d8ab9;
    font-weight: normal !important;
}

#myCities .cities .city.progressing
{
    background-color: #ffbb63;
    font-weight: normal !important;
}

.invalid-monument
{
    text-decoration: line-through;
}